pytz
django>=3.1,<4.0
dateutils
psycopg2-binary
influxdb
pika>=1.0.0,<1.1
msgpack
gunicorn
celery
httpie
# Dev stuff
Pillow
python-magic
exifread
iptcinfo3
sentry-sdk==0.14.1
git+https://github.com/ForumViriumHelsinki/FVHIoT-python.git#egg=fvhiot
